.hero {
	width: 100%;
	min-height: 885px;
	background: url('../../img/hero-bg.png') center center no-repeat;
	&:after {
		content: '';
		display: block;
		max-width: 1150px;
		height: 20px;
		margin: 88px auto 0 auto;
		background-image: url('../../img/divide.png');
	}
}