.intro {
	.fa {font-size: 25px;}
	.primary-nav {background-color: #eceef4;}
	.container:after, .container:before {display: none;}
	.itro-social {
		width: 260px;
		min-height: 65px;
		margin-bottom: 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}
	.header-info {
		min-height: 215px;
		padding: 55px 0;
		.contact-info {
			min-height: 105px;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			li {padding: 0 25px;}
		}
	}
}
.nav {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		min-height: 65px;
	}
	.nav li a,
	#touch-menu {
		display: block;
		padding: 10px 15px;
		color: $additional_color;
		font: 700 14px/24px $primary_font;
		text-transform: uppercase;
	}
	.nav li a:hover {
		color: $secondary_font_color;
		text-decoration: none;
	}
	#touch-menu:hover {color: $accent_color;}
	#touch-menu {display: none;}