$primary_font: "Roboto", sans-serif;
$primary_font_color: #b7b7b7;
$secondary_font_color: #ffffff;
$additional_color: #000000;
$accent_color: #ff9b9b;
$fa-font-path: "../libs/font-awesome/fonts";
@import "fonts";